/* LINKS */
#linksWrapper{
    max-width: 700px;
    margin-bottom: 5rem;
}

.tag-buttons {
    margin: 3rem auto 2rem auto;
}
.tag-button {
    cursor: pointer;
    background: linear-gradient(150deg, orange 0%, rgb(212, 123, 14) 100%);
    padding: .2rem .5rem;
    font-size: .8rem;
    margin: .2rem;
    box-shadow: $usualBlackShadow;
    @extend %comfortaa-bold;
    text-shadow: none;
    border: 1px solid $myGrey;
    border-radius: 5px;
    &:hover {
        background: linear-gradient(150deg, orange 50%, rgb(194, 107, 0) 100%);
    }
    @media (min-width: 576px) { 
        padding: .5rem 1rem;
        font-size: 1rem;
        text-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    }
}

#tags-matches {
    max-width: 700px;
    margin: 3rem auto;
}

#linksInput, #passwordInput {
    box-shadow: $usualBlackShadow;
    border: 1px solid rgba(235,150,40,.4);
}
#linksSubmit, #CVSubmit {
    background-color: $myOrange;
    color: $myGrey;
    width: 150px;
    font-weight: bold;
    border: 1px solid $myGrey;
    text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
    box-shadow: $usualBlackShadow;
}
#linksSubmit:hover {
    background-color: orange;
}

/* OUTPUT CARDS */
.card {
    box-shadow: $usualBlackShadow;
    border: none;
    margin-bottom: .5rem;
    .card-header {
        background: linear-gradient(150deg, orange 0%, rgb(194, 107, 0) 100%);
        @extend %comfortaa-bold;
        font-size: 1.2rem;
        text-shadow: 1px 2px 4px rgba(0,0,0,0.5);
        border: 1px solid $myGrey;
    }
}

.list-group-item {
    background-color: $myGrey;
    color: white;
    @extend %nunito400;
    border: 1px solid rgba(235,150,40,.4);
    border-radius: 0;
}

/* CHECKBOX */
.custom-checkbox label{
    @extend %nunito400;
}
.custom-control-label:before{
    background-color: $myGrey;
    border: 1px solid rgba(235,150,40,1);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: darkorange!important;
    border: 1px solid rgba(0,0,0,.4);
}
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 0, 0, 0.25)
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
    background-color: $myGrey; 
}

/* AUTOCOMPLETE */
.ui-autocomplete {
    max-height: 200px;
    /*max-width: 670px;*/
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 5px;
    box-shadow: $usualBlackShadow;
    padding: 4px 4px;
    background-color: #FFCF8C;
}
.ui-menu-item .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: gray !important;
    border: none;
}

/* ACCORDION LINKS */
.linksDiv a, #linksResults a, #tags-results a {
    color: white;
    font-weight: 300;
    &:hover {
        color: darkorange;
        font-weight: 400;
        text-decoration: none;
    }
}
.linksDiv {
    margin-bottom: 3rem;
}

/* SEARCH BOX */
#searchIcon {
    color: white;
}
.hoverContent {
    display: none;
    color: white;
}
#linksSearchToggle {
    cursor: pointer;
    margin-top: 1.5rem; margin-right: auto; margin-left: auto;
    margin-bottom: 1rem;
    padding-top: .5rem;
    width: 40px;
    height: 40px;
    background-color: $myGrey;
    border-radius: 25px;
    box-shadow: $usualBlackShadow;
    transition: width .8s ease-out;
    &:hover {
        width: 130px;
        transition: width .3s ease-out;
    }
    &:hover .hoverContent {
        display: block;
    }
    &:hover #searchIcon {
        display: none;
    }
}

#links-placeholder {
    height: 3rem;
}
