/* PORTFOLIO */
%pfLink {
    font-weight: bold;
    color: darkorange;
}
%pfLinkHover {
    color: $myGrey;
}
.subTitleRow {
    margin: 1rem auto 3rem auto;
    width: 100%;
    a {
        @extend %pfLink;
        &:hover {
            @extend %pfLinkHover;
        }
    }
    .subTitle {
        @extend %comfortaa-bold;
        font-size: 1.5rem;
        border-bottom: 2px solid $myOrange;
        border-right: none;
        @media (min-width: 768px) { 
            border-right: 2px solid rgb(235,150,40);
            border-bottom: none;
        }
    }
    .subDescription {
        padding-top: .3rem;
        padding-left: 2rem;
        text-align: justify !important;
    }
}
#pf-arrows {
    margin-bottom: 5rem;
    i {
        display: block;
        margin: -2rem auto;
        /* transform: scaleY(.7); */
    }
    #pf-lets-check {
        font-family: $damion;
        font-size: 2.5rem;
        margin: 1rem auto 2rem auto;
    }
}
.pf-div {
    text-align: justify;
    h4 {
        border-bottom: 2px solid $myOrange;
    }
    a {
        @extend %pfLink;
        &:hover {
            @extend %pfLinkHover;
        }
    }
    .pf-img {
        margin-bottom: 1.5rem;
        box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
    }
    .pf-desc {
        margin-top: 1rem;
    }
    .pf-feature {
        @extend %comfortaa-bold;
        i {
            margin-right: .5rem;
            color: darkorange;
        }
    }
}

/*************************************************
*                  LIGHT DIVS 
*/
.pf-bg-light {
    margin-bottom: 5rem;
    .badge {
        color: orange;
    }
}

/*************************************************
*                   DARK DIVS 
*/
.pf-bg-dark {
    position: relative;
    padding-left: 0 !important;
    box-shadow: 0 5px 10px 2px rgba(200,100,0,0.5);
    margin-bottom: 7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .badge {
        color: $myGrey;
        background-color: darkorange;
    }
    h4 {
        font-weight: 300;
    }
}
.pf-bg-dark h4, .pf-bg-dark p, .pf-bg-dark .pf-feature {
    color: white;
}


#startpage-notes {
    max-height: 200px;
}
