/* PORTFOLIO */
#pf-arrows {
    margin-bottom: 5rem;
    text-shadow: $usualBlackShadow;
    i {
        display: block;
        margin: -2rem auto;
        /* transform: scaleY(.7); */
    }
    #pf-lets-check {
        font-family: $damion;
        color: darkorange;
        font-size: 2.5rem;
        margin: 1rem auto 2rem auto;
    }
}
.pf-div {
    text-align: justify;
    margin-bottom: 2rem;
    h4 {
        border-bottom: 2px solid $myOrange;
    }
    a {
        @extend %pfLink;
        &:hover {
            @extend %pfLinkHover;
        }
    }
    .pf-img {
        margin-bottom: 1.5rem;
        box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
    }
    .pf-desc {
        margin-top: 1rem;
    }
    .pf-feature {
        @extend %comfortaa-bold;
        i {
            margin-right: .5rem;
            color: darkorange;
        }
    }
}

/*************************************************
*                  LIGHT DIVS 
*/
.pf-bg-light {
    margin-bottom: 5rem;
    .badge {
        color: orange;
    }
}

