/* TRAVELS */
.travelIframe {
    margin-bottom: 3rem;
    border: 1px solid $myOrange;
    box-shadow: $usualBlackShadow;
}
.travels-description {
    text-align: justify;
    padding: 0 1rem;
    margin-bottom: 3rem;
    i {
        color: darkorange;
        margin-top: .5rem;
        margin-right: .5rem;
    }
}
.travels-collapse-toggle {
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    &:hover {
        .title-link{
            color: darkorange;
        }
        img {
            box-shadow: 0 5px 10px 2px rgba(255,140,0,0.5);
        }
    }
    .title-message, .title-message-description {
        margin-top: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    img {
        margin-bottom: 1.5rem;
        box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
    }
}
.travels-collapse {
    margin: 1rem auto;
}