/* TRAVELS */
.travelIframe {
    margin-bottom: 3rem;
    border: 1px solid $myOrange;
    box-shadow: $usualBlackShadow;
}

.travels-collapse-toggle {
    cursor: pointer;
}

.travels-collapse {
    margin: 1rem auto;
}