/*
from Hompage/
> sass --watch --style=compressed site/css:site/css
*/

$nunito: 'Nunito', sans-serif;
$comfortaa: 'Comfortaa', cursive;
$damion: 'Damion', cursive !important;

$myGrey: #343A40;
$myOrange: rgb(235,150,40);
$myOrangeLite: rgb(235, 170, 80);
$almostWhite: rgba(255,255,255,.8);

$usualBlackShadow: 5px 5px 10px rgba(0,0,0,0.5);

%comfortaa-bold {
    font-family: $comfortaa;
    font-weight: bold;
}
%nunito300 {
    font-family: $nunito !important;
    font-weight: 300;
}
%nunito400 {
    font-family: $nunito;
    font-weight: 400;
}
%pfLink {
    font-weight: bold;
    color: darkorange;
}
%pfLinkHover {
    color: $almostWhite;
}

/*==========================================================
//                    GENERAL STYLES
//========================================================*/
body {
    background-image: url(../../images/full-bloom.png);
    @extend %nunito300;
}
b {
    font-weight: bold;
}
/* Fade in animation for content */
@keyframes fadeIn {
    0%   { opacity: 0; }
    30%  { opacity: 0; }
    100% { opacity: 1; }
}
.fadeIn {
    animation: 2s ease-out 0s 1 fadeIn;
}

.title {
    @extend %comfortaa-bold;
    color: $myGrey;
    font-size: 2rem;
    padding-bottom: 1rem;
    border-bottom: 3px solid $myOrange;
    margin-bottom: 2rem;
}
.title-message-row {
    margin: 1rem auto 1rem auto;
    width: 100%;
    .title-message {
        @extend %comfortaa-bold;
        font-size: 1.5rem;
        border-bottom: 2px solid $myOrange;
        border-right: none;
    }
    .title-message-description {
        padding-top: .3rem;
        padding-left: 2rem;
        text-align: justify !important;
    }
    a {
        @extend %pfLink;
        &:hover {
            @extend %pfLinkHover;
        }
    }
}
h5, h4, h3, h2, h1, .comf-bold {
    @extend %comfortaa-bold;
}
p {
    @extend %nunito300;
}


/*************************************************
*                   DARK DIVS 
*/
.pf-bg-dark {
    position: relative;
    padding-left: 0 !important;
    box-shadow: 0 5px 10px 2px rgba(200,100,0,0.5);
    margin-bottom: 10rem;
    margin-top: 7rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: $almostWhite;
    .badge {
        color: $myGrey;
        background-color: darkorange;
    }
    h4 {
        font-weight: 300;
    }
    .title {
        border-bottom: 3px solid darkorange;
    }
}
.pf-bg-dark h4, .pf-bg-dark p, .pf-bg-dark .pf-feature, .pf-bg-dark .title {
    color: $almostWhite;
}


/* POLYGON */
%polyPosAndDimension {
    position: absolute;
    width: 100%;
    height: 75px;
    /* set height to pixels if you want angle to change with screen width */
}
.pf-top-poly {
    @extend %polyPosAndDimension;
    top: -75px;    
    filter: drop-shadow(0px -5px 2px rgba(200,100,0,0.5));
}
.pf-bottom-poly {
    @extend %polyPosAndDimension;
    bottom: -75px;
    filter: drop-shadow(0px 5px 2px rgba(200,100,0,0.5));
}

/* BACK TO TOP */
#backToTop {
    cursor: pointer;
    text-align: center;
    width: 4rem;
    color: $myGrey;
    position: fixed;
    bottom: .5rem;
    right: .5rem;
    text-shadow: 0px 0px 5px darkorange;
    z-index: 99;
    display: none;
    p {
        @extend %comfortaa-bold;
        margin-bottom: 0;
        margin-top: -.4rem;
    }
    &:hover {
        color: darkslategray;
    }
}

/*==========================================================
//                    IMPORT PARTIALS
//========================================================*/

@import "loadingscreen";
@import "navbar";
@import "carousel";
@import "aboutme";
@import "portfolio";
@import "links";
@import "travels";
@import "contact";


/*==========================================================
//            GENERAL BOOTSTRAP MEDIA QUERIES 
//======================================================= */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { 
    .welcome {
        padding-top: 25%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    .welcome {
        padding-top: 23%;
    }
    .welcomeH1 {
        font-size: 3.6rem;
    }
    .welcomeP {
        font-size: 1.2rem;
    }
    .title-message-row .title-message, .smallTitle {
        border-right: 2px solid rgb(235,150,40);
        border-bottom: none;
    }
    .smallTitle {
        text-align: right !important;
        padding-right: 2rem;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .welcome {
        padding-top: 20%;
    }
    #emailform {
        width: 50vw;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .welcome {
        padding-top: 13%;
    }
    .welcomeH1 {
        font-size: 4.5rem;
    }
    .welcomeP {
        font-size: 1.5rem;
    }
    // .aboutDiv {
    //     padding-left: 2rem;
    //     padding-right: 2rem;
    // }
    #emailform {
        width: 35vw;
    }
}

/* Minimal viewport (up to 400px)*/
@media (max-width: 400px) {
    .carousel-indicators {
        margin-bottom: 0;    
    }
    .welcomeH1 {
        font-size: 2rem;
    }
    .welcomeP {
        font-size: .9rem;
    }
    .welcome {
        padding-left: 11vw;
    } 
    .ctcIcons i {
        font-size: 2.5rem;
    }
}
